<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITerroristInfoService" maxBufferPoolSize="400000000"
          maxReceivedMessageSize="400000000">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITerroristInfoService"
        contract="AngaraNkoService.ITerroristInfoService" name="WSHttpBinding_ITerroristInfoService" />
    </client>
  </system.serviceModel>
</configuration>