<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interfax.Bankruptcy.MessageService.WinClientTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>      
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMessageService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
		    <readerQuotas maxDepth="999999" maxStringContentLength="999999" maxArrayLength="999999" maxBytesPerRead="999999" maxNameTableCharCount="999999" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Digest" proxyCredentialType="Digest"
                            realm="" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>    
        <client>
            <endpoint address="http://test.fedresurs.ru/MessageService/WebService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMessageService" contract="WebServiceRef.IMessageService"
                name="BasicHttpBinding_IMessageService" />
        </client>
    </system.serviceModel>
  
    <applicationSettings>
        <Interfax.Bankruptcy.MessageService.WinClientTest.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>demowebuser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Ax!761BN</value>
            </setting>
        </Interfax.Bankruptcy.MessageService.WinClientTest.Properties.Settings>
    </applicationSettings>
</configuration>